.banner {
    background: url(../default/images/bg_banner.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 3rem 0;
    .banner-list{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.625rem;
        margin-right: -0.625rem;
        >div{
            flex: 0 0 25%;
            width: 25%;
            padding-left: 0.625rem;
            padding-right: 0.625rem;
        }
    }
    // @media (min-width: 1170px) {
    // width: 100vw;
    //   position: relative;
    //   left: 50%;
    //   right: 50%;
    //   margin-left: -50vw;
    //   margin-right: -50vw;
    // }
}

