.banner {
    background: url(../default/images/bg_banner.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 40px 15px;
    margin-left: -15px;
    margin-right: -15px;
    .banner-list{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.625rem;
        margin-right: -0.625rem;
        >div{
            flex: 0 0 25%;
            width: 25%;
            padding-left: 0.625rem;
            padding-right: 0.625rem;
        }
    }
}

.coind-info{
    background: #fff;
    padding: 20px 15px;
}