@charset "UTF-8";
@import "import";
@import "layouts/layout";
@import "components/title";
@import "components/checkbox";
@import "components/minmax-width";
@import "components/table";
.text-gray{
	color: #949494;
}
img{
	max-width: 100%;
}
a{
	color: #333;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}