body { background-color: #f2f2f2; font-family: TT Commons,Arial,Helvetica,sans-serif; font-size: 1.0625rem; color: #697a89; font-size: 0.875rem; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-bottom: .5rem; font-family: inherit; font-weight: 500; line-height: 1.2; color: inherit; color: #022144; }

h1 { font-weight: 600; font-size: 4rem; letter-spacing: -.25px; line-height: 1.125; color: #022144; margin-bottom: 20px; }

img { max-width: 100%; }

.sub { font-weight: 400; letter-spacing: -.5px; line-height: 1.25; color: #697a89; }

ul { list-style: none; padding: 0; margin: 0; cursor: pointer; }

.main_content { background: #FFF; background-image: url(images/background.svg); background-size: cover; }

#menuContainer { z-index: 999999; right: -550px; position: absolute; top: 0; }

#menuContainer .app-control { background-color: #2da0d2; background-size: 20px; bottom: 70%; color: #fff !important; height: 43px; line-height: 32px; outline: none; padding: 3px 35px; margin-top: 40px; left: -75px; text-align: center; text-decoration: none; transform: rotate(90deg); border-radius: 0 0 5px 5px; position: absolute; }

header { background-color: #fff; }

.bg-primary { background-color: #093687 !important; }

.bg-gray { background-color: #f8f8f8; }

.nav a.nav-item.active { border-radius: 0; background-color: #f8f8f8; font-weight: bold; border-bottom: 0; color: #093687; }

.controller .tab-content { background-color: #f8f8f8; }

.slider { padding: 50px 0px; margin-left: -15px; margin-right: -15px; margin-top: -15px; }

#timewapper { width: 620px; margin: auto; margin-top: 50px; white-space: nowrap; }

.flip-clock-wrapper { margin: 0 !important; color: #FFF; }

.flip-clock-label, .flip-clock-dot.top { color: #FFF !important; }

.logoform { position: absolute; margin-top: -55px; }

#features .card { border: 0px; min-height: 300px; margin-bottom: 30px; }

.shadown-box { box-shadow: 2px 2px 4px #dee1e7; padding: 10px; background-color: #FFF; }

.alert { border: 0; border-radius: 0; }

.bd-sidebar { -ms-flex: 0 1 320px; flex: 0 1 320px; position: -webkit-sticky; position: sticky; top: 4rem; z-index: 1000; height: calc(100vh - 4rem); width: 250px; }

.bd-content { -ms-flex-order: 1; order: 1; }

.exchange-sidebar { -ms-flex: 0 1 320px; flex: 0 1 320px; position: -webkit-sticky; position: sticky; top: 4rem; z-index: 1000; height: calc(100vh - 4rem); }

.exchange-sidebar-2 { height: 460px; }

.chatbox { height: 775px; }

.clear-margin { margin-left: -10px; margin-right: -10px; padding-left: 10px; padding-right: 10px; }

.controller .tab-content { padding: 15px; }

#main_chart > div > label:first-child, #main_chart > div > select { display: none; }

.toolbar .btn { background: none; border-radius: 0; }

.toolbar .btn:active { box-shadow: none; }

.price-task, .btn-marker { line-height: 40px; border-radius: 0; cursor: pointer; }

.user-menu li { line-height: 40px; border-bottom: 1px solid #ddd; text-align: right; }

.user-menu li:last-child { border-bottom: 0px; }

.user-menu .fas { border-left: 1px solid #ddd; padding-left: 10px; width: 25px; margin-left: 10px; }

.fa-icon { color: #093687 !important; border-right: 1px solid #ddd; padding-right: 10px; }

.alert-layout { position: fixed; top: 0; z-index: 9999999; max-width: 50%; right: 0; }

.nav-balancer { color: #FFF; font-size: 11px; text-align: right; border-right: 1px dotted #FFF; padding-right: 15px; margin-right: 15px; }

.btn-coind { border-radius: 0px; }

.CoindGird { border: 0px solid #ddd; overflow-y: auto; min-height: 350px; }

#coinValible > div { border-bottom: 1px solid #ddd; color: #093687; white-space: nowrap; }

#coinValible > div a { color: #093687; }

#coinValible > div:hover { background-color: #f6f6f6; }

#coinValible > div:hover a { color: green; text-decoration: none; }

#coinValible a span { font-size: 10px; }

.fa-red { color: red; }

.cell { display: block; position: relative; overflow: hidden; line-height: 40px; height: 40px; margin-bottom: 1px; border-bottom: 1px dotted #ddd; }

.cell:hover { background-color: #f6f6f6; }

.cell dd div { display: inline-block; width: 33%; z-index: 3; float: left; }

.cell dd div.askAmount { padding-left: 15px; }

.cell dd div:first-child { width: 34%; padding-left: 10px; }

.cell dd div:last-child { text-align: right; padding-right: 10px; }

dd.showData { position: absolute; width: 100%; z-index: 99; left: 0; }

dd.oscbtc { position: absolute; background-color: rgba(30, 170, 125, 0.3); height: 100%; right: 0; z-index: 1; }

dd.oscbtc2 { position: absolute; background-color: rgba(223, 78, 79, 0.3); height: 100%; right: 0; z-index: 1; }

.sell-task.asks { position: relative; }

.sell-task.asks .dataList { position: absolute; width: 100%; bottom: 0; }

.history-task { height: 350px; overflow: hidden; }

.FlexCoid div.cfx { display: inline-block; }

.ask-color, .asks { color: #df4e4f; }

.bid-color, .bids { color: #1eaa7d; }

#chatbox { position: fixed; right: 0; width: 65px; background-color: red; height: 50px; bottom: 0px; }

#chatbox.open { width: 250px; }

#chatbox .status { width: 100%; height: 50px; background-color: #1eaa7d; text-align: center; padding-top: 10px; color: #FFF; }

.layerSocket { position: relative; }

.waitconnect { position: absolute; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.1); top: 0; line-height: 100%; text-align: center; }

.text-green { color: green; }

.text-red { color: red; }

.run-task { overflow-x: scroll; max-height: 425px; height: 425px; }

.title-box { line-height: 30px; border-bottom: 1px solid #ddd; }

.title-box div:first-child { padding-left: 25px; }

.title-box div:last-child { padding-right: 25px; }

.task { overflow-x: hidden; }

.header { height: 63px; }

.footer-memu ul { list-style: none; margin-left: -1rem; margin-right: -1rem; }
.footer-memu ul li { display: inline-block; padding-left: 1rem; padding-right: 1rem; }
.footer-memu ul li a { color: #fff; }
.footer-memu ul li a:hover { text-decoration: none; opacity: 0.7; }

@media (max-width: 567px) { .footer-memu ul { padding-left: -0.75rem; padding-right: -0.75rem; }
  .footer-memu ul li { padding-left: 0.75rem; padding-right: 0.75rem; } }
@media (max-width: 374px) { .footer-memu ul { padding-left: -0.25rem; padding-right: -0.25rem; }
  .footer-memu ul li { padding-left: 0.25rem; padding-right: 0.25rem; } }
.footer-top .group-button { margin-left: auto; display: flex; }

.footer-bottom { background: transparent; color: #fff; font-size: 0.6875rem; }
.footer-bottom > div { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.footer-bottom .footer-bottom-wrap { border-top: 0; padding-top: 0.25rem; margin-top: 0.375rem; display: flex; flex-wrap: wrap; align-items: center; }
.footer-bottom .date { margin-left: auto; padding-right: 1rem; }
.footer-bottom .btctm-top { display: flex; margin-left: -0.625rem; margin-right: -0.625rem; }
.footer-bottom .btctm-top > div { padding-right: 0.625rem; padding-left: 0.625rem; }
.footer-bottom .btctm-top > div:first-child { padding-right: 0; }
.footer-bottom .btctm-top > div:nth-of-type(2) { padding-left: 0.25rem; }

@media (max-width: 767px) { .footer-bottom { font-size: 0 0.5rem; }
  .footer-bottom .date { order: 1; }
  .footer-bottom .btctm-top { order: 2; }
  .footer-bottom .copyright { order: 3; } }
@media (max-width: 567px) { .footer-bottom { font-size: 0 0.5rem; }
  .footer-bottom .btctm-top { margin-left: -0.25rem; margin-right: -0.25rem; flex: 0 0 100%; width: 100%; justify-content: center; }
  .footer-bottom .btctm-top > div { padding-right: 0.25rem; padding-left: 0.25rem; white-space: nowrap; }
  .footer-bottom .btctm-top > div:first-child { padding-right: 0; } }
.footer { background: #093687; padding-top: 0.375rem; color: #fff; }
.footer a { color: #fff; }
.footer .btn-theme { border: 0; background: none; color: #fff; padding: 0; margin: 0; position: relative; top: 0.075rem; }
.footer .social-list { display: flex; flex-wrap: wrap; position: relative; top: 0.1rem; align-items: center; margin-left: 0.5rem; margin-right: 0.5rem; border-left: 1px solid #fff; }
.footer .social-list > li { padding-left: 0.25rem; padding-right: 0.25rem; }
.footer .social-list > li > a { color: #fff; padding: 0.1rem; }
.footer .langauge .btn { background: transparent; padding: 0; border: 0; color: #fff; }
.footer .langauge .btn:focus { outline: none; box-shadow: none; }
.footer .langauge .dropdown-menu { min-width: 6rem; right: 0; }
.footer .langauge .dropdown-menu a { color: #212529; }
.footer .langauge .dropdown-menu .dropdown-item { padding-left: 1rem; padding-right: 1rem; font-size: 13px; }

@media (max-width: 567px) { .footer { font-size: 0.75rem; } }
.banner { background: url(../default/images/bg_banner.jpg) no-repeat center center; background-size: cover; color: #fff; padding: 40px 15px; margin-left: -15px; margin-right: -15px; }
.banner .banner-list { display: flex; flex-wrap: wrap; margin-left: -0.625rem; margin-right: -0.625rem; }
.banner .banner-list > div { flex: 0 0 25%; width: 25%; padding-left: 0.625rem; padding-right: 0.625rem; }

.coind-info { background: #fff; padding: 20px 15px; }

.tab-content { position: relative; background: #fff; padding: 1rem; }

.marker { padding: 2.5rem 0; }
.marker .table { border-width: 0 1px 1px 1px; border-style: solid; border-color: #f0f0f0; background: #fff; }
.marker .table > thead tr th, .marker .table > thead tr td, .marker .table > tbody tr th, .marker .table > tbody tr td { border-width: 0 0 1px 0; }
.marker .table > thead tr th:nth-of-type(1), .marker .table > thead tr td:nth-of-type(1), .marker .table > tbody tr th:nth-of-type(1), .marker .table > tbody tr td:nth-of-type(1) { text-align: left; }
.marker .table > thead tr th { color: #949494; }

.login-content { padding-top: 2rem; padding-bottom: 2rem; margin-top: 1rem; margin-bottom: 1rem; max-width: 660px; margin-left: auto; margin-right: auto; background: rgba(255, 255, 255, 0.1); padding: 2rem; color: #fff; -webkit-border-radius: 3px; border-radius: 3px; }
.login-content a { color: #fff; text-decoration: none; -ms-transition: 0.4s all ease; -moz-transition: 0.4s all ease; -o-transition: 0.4s all ease; -webkit-transition: 0.4s all ease; transition: 0.4s all ease; }
.login-content a:hover { color: #0668d6; opacity: 0.7; }
.login-content .page-title { text-align: center; font-size: 1.6rem; color: #fff; }
.login-content .btn-register { background-color: rgba(36, 69, 108, 0.8); border-color: rgba(7, 39, 82, 0.2); }
.login-content .h2 { margin-bottom: 1rem; color: #fff; font-size: 1.5rem; }
.login-content .text-muted { color: #a0a0a0 !important; }
.login-content .form-group { margin-bottom: 0.7rem; }

@media (max-width: 767px) { .login-content { padding: 2rem 1rem; } }
@media (max-width: 639px) { .login-content .page-title { font-size: 1.5rem; }
  .login-content .h2 { font-size: 1.3rem; } }
@media (max-width: 639px) { .login-content .page-title { font-size: 1.5rem; }
  .login-content .h2 { font-size: 1.3rem; }
  .login-content .col-md-6 + .col-md-6 { margin-top: 1rem; } }

/*# sourceMappingURL=apps.css.map */
