<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KFChange.com | Thị Trường</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="Styles/bootstrap.min.css">
    <link rel="stylesheet" href="Styles/market.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-middle">
                <div class="header-middle-inner">
                    <div class="container-fluid">
                        <nav class="navbar navbar-light">
                            <div class="logo"><a><img src="Images/logo.png" alt="Kfchange"></a></div>
                            <div class="header-menu">
                                <ul class="gnav-menu">
                                    <li><a href="/markets.html" title="Thị Trường"><span>Thị Trường</span></a></li>
                                    <li class="nav-menu-balance"><a href="/balance.html" title="Ví Tiền"><span>Ví Tiền</span></a></li>
                                    <li class="nav-menu-news"><a href="/news.html" title="Tin Tức"><span>Tin Tức</span></a></li>
                                    <li><a href="http://support.kfchange.com" target="_blank" title="Hỗ trợ"><span>Hỗ Trợ</span></a></li>
                                </ul>
                            </div>
                            <nav class="header-user">
                                <ul class="user-list">
                                    <li class="sign-in"><a href="login.html" class="btn-register"><i class="fas fa-user-lock"></i>Đăng nhập</a></li>
                                    <li class="sign-up"><a href="register.html" class="btn-login"><i class="fas fa-user-plus"></i>Đăng ký</a></li>
                                </ul>
                            </nav>
                            <div class="header-language pl-1">
                                <div class="btn-group btn-language">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-language="vn">
                                        <img src="Images/Flag/vn.png" alt="Tiếng việt">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="language/us" title="English"><img src="Images/Flag/us.png" alt="English"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!--/.header-middle-->
        </header>
        <main class="main">
            <div class="banner">
            	<div class="container-fluid">
                    <div class="banner-top">
                        <div class="banner-top-info">
                            <a href="/register.html">Tạo mới tài khoản</a><span class="ml-2 mr-2">|</span>Đã đăng ký<a href="/login.html" class="ml-2">Đăng nhập</a>
                        </div>
                    </div>
            		<div class="banner-list">
	            		<div>
                            <a href="#"><img src="Images/banner-01.jpg" alt=""></a>    
                        </div>
                        <div>
                            <a href="#"><img src="Images/banner-02.png" alt=""></a>   
                        </div>
                        <div>
                            <a href="#"><img src="Images/banner-03.png" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img src="Images/banner-04.png" alt=""></a>
                        </div>
	                </div>
            	</div>
            </div>
            <div class="container-fluid">
                <div class="main-wrap">
                    <div class="main-content">
                        <div class="sec-market">
                            <ul class="nav nav-tabs" role="tablist">
                                <li>
                                    <a href="#favorite" role="tab" data-toggle="tab"><i class="fas fa-star"></i>&nbsp;<span>Yêu thích</span></a>
                                </li>
                                <li>
                                    <a class="active" href="#btc" role="tab" data-toggle="tab"><span>Thị Trường</span> Bitcoin</a>
                                </li>
                                <li>
                                    <a href="#usd" role="tab" data-toggle="tab"><span>Thị Trường</span> USDT</a>
                                </li>
                                <li>
                                    <a href="#krw" role="tab" data-toggle="tab"><span>Thị Trường</span> KRW</a>
                                </li>
                                <li>
                                    <a href="#vnd" role="tab" data-toggle="tab"><span>Thị Trường</span> VND</a>
                                </li>
                            </ul>
                            <!-- Tabcontent -->
                            <div class="tab-content">
                                <input type="hidden" name="markets_search" id="markets_search" value="" />
                                <div id="favorite" class="tab-pane">
                                    fff
                                </div>
                                <div id="btc" class="tab-pane">
                                    <div id="pbtc">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Cặp</th>
                                                    <th>Giá gần nhất</th>
                                                    <th>Thay đổi 24h</th>
                                                    <th>Giá cao nhất 24h</th>
                                                    <th>Giá thấp nhất 24h</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row">
                                                        <button class="btn btn-favorite text-gray"><i class="fas fa-star"></i></button>
                                                        <a href="market/BCH/BTC" target="_parent" title="BCH_BTC" class="align-middle">BTC/BCH</a></td>
                                                    <td class="text-center"><span class="volmkBCH-BTC">0</span> BCH</td>
                                                    <td><span class="changemkBCH-BTC">-0.23%</span></td>
                                                    <td><span class="lastmkBCH-BTC">0</span></td>
                                                    <td><span class="highmkBCH-BTC">0</span></td>
                                                    <td><span class="lowmkBCH-BTC">0</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="krw" class="tab-pane fade">
                                    <div id="pkrw">
                                        <table class="table table-striped table-hover table-bordered table-markets">
                                            <thead>
                                                <tr>
                                                    <th>MARKET</th>
                                                    <th>24HR VOLUME</th>
                                                    <th>% CHANGE</th>
                                                    <th>LAST PRICE</th>
                                                    <th>24HR HIGH</th>
                                                    <th>24HR LOW</th>
                                                </tr>
                                            </thead>
                                            
                                        </table>
                                    </div>
                                </div>
                                <div id="usd" class="tab-pane fade">
                                    <div id="pusd">
                                        <table class="table table-striped table-hover table-bordered table-markets">
                                            <thead>
                                                <tr>
                                                    <th>MARKET</th>
                                                    <th>24HR VOLUME</th>
                                                    <th>% CHANGE</th>
                                                    <th>LAST PRICE</th>
                                                    <th>24HR HIGH</th>
                                                    <th>24HR LOW</th>
                                                </tr>
                                            </thead>
                                           
                                        </table>
                                    </div>
                                </div>
                                <div id="vnd" class="tab-pane active">
                                    <div id="pvnd">
                                        <table class="table table-striped table-hover table-bordered table-markets">
                                            <thead>
                                                <tr>
                                                    <th>MARKET</th>
                                                    <th>24HR VOLUME</th>
                                                    <th>% CHANGE</th>
                                                    <th>LAST PRICE</th>
                                                    <th>24HR HIGH</th>
                                                    <th>24HR LOW</th>
                                                </tr>
                                            </thead>
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Tabcontent -->
                        </div>
                    </div>
                </div>
        </main>
        <footer class="footer">
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="d-flex flex-wrap">
                        <div>
                            <nav class="footer-memu">
                                <ul>
                                    <li><a href="custom/about.html" title="Giới thiệu">Giới thiệu</a></li>
                                    <li><a href="faq.html" title="Hỏi đáp">Hỏi đáp</a></li>
                                    <li><a href="fees.html" title="Fee">Chi phí</a></li>
                                    <li><a href="custom/contact.html" title="Contact Us">Liên hệ</a></li>
                                    <li><a href="custom/api-document.html" title="Tài liệu API">Tài liệu API</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="group-button">
                            <button class="btn-theme" data-theme="dark-theme" data-show="default" tite="Switch to dark theme"><i class="far fa-moon"></i></button>
                            <ul class="social-list">
                                <li><a href="https://t.me/kfcoin" target="_blank"><i class="fab fa-telegram"></i></a></li>
                                <li><a href="https://www.facebook.com/kfchangecom/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/kfchange"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container-fluid">
                    <div class="footer-bottom-wrap">
                        <div>
                            &copy; 2018 KFChange.com Inc. All Rights Reserved
                        </div>
                        <div class="date">21-09-2018 18:37:48</div>
                        <div class="btctm-top">
                            <div> 24h Vol:</div>
                            <div><span class="volumeBTC">14.89</span>BTC</div>
                            <div><span class="volumeETH">540.77</span>ETH</div>
                            <div><span class="volumeVND">5,533,003,750</span>VND</div>
                            <div><span class="volumeKRW">0.00</span>KRW</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
        <script src="Javascripts/jquery-3.1.1.min.js"></script>
        <script src="Javascripts/popper.min.js"></script>
        <script src="Javascripts/bootstrap.js"></script>
        <script src="Javascripts/kfchange.js"></script>
</body>

</html>