@charset "UTF-8";
@import "../import";
body {
    background: url(../Images/img-bg-1.jpg) no-repeat center center;
    background-size: cover;
}

.main {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 0;
}

.register-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
        @include transition(0.4s all ease);
        &:hover {
            color: #0668d6;
            opacity: 0.7;
        }
    }
    @include border-radius(0.1875rem);
    .page-title {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .text-description {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .checkbox-custom {
        margin-right: 0.8rem;
    }
    .checkbox-custom input[type="checkbox"]+span {
        color: #fff;
    }
    .check-accept-group {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        .d-flex {
            >div {
                &:nth-of-type(1) {
                    padding-top: 0.2rem;
                }
            }
        }
    }

    .form-group {
        position: relative;
        .invalid-feedback {
            position: absolute;
            top: auto;
            background: rgba($danger, 1);
            @include border-radius(4px);
            padding: 0.25rem 0.5rem;
            color: #fff;
            line-height: 1.2;
            font-size: 87%;
            z-index: 9;
            -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
            &:before {
                content: "";
                top: -0.375rem;
                left: 50%;
                position: absolute;
                @include transform(translateX(-50%));
                border-left: 0.375rem solid transparent;
                border-right: 0.375rem solid transparent;
                border-bottom: 0.375rem solid $danger;
            }
        }
    }
}

@media (max-width: 767px) {
    .register-content {
        padding: 2rem 1rem;
        .check-accept-group {
            margin-top: 0;
        }
    }
}

@media (max-width: 374px) {
    .register-content {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        .check-accept-group {
            margin-bottom: 1rem;
            .checkbox-custom {
                margin-right: 0.5rem;
                +a {
                    font-size: 0.725rem;
                }
            }
        }
        .checkbox-custom input[type="checkbox"]+span {
            padding-left: 25px;
        }
    }
}