.title{
	margin-bottom: 30px;
	margin-top:20px; 
	position: relative;
}
.title:after{
	clear: both;
	position: absolute;
}
.clear-border{
	margin-left: -1px;
	margin-right: -1px;
	margin-top:-1px; 
}
.card-header{
	font-size: 18px;
	text-transform: uppercase;
}