.table {
    >thead,
    >tbody {
        th,
        td {
            text-align: center;
            background: #fff;
            color: #333;
            font-size: 0.75rem;
        }
    }
	>thead {
        th , td{
            font-weight: normal;
        }
    }
    >tbody {
        th {
            font-weight: normal;
        }
    }
}